@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #faebd7, #ffffff, #faebd7);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

button {
  border: none;
  background-color: antiquewhite;
  color: slategrey;
  padding: 0.5rem;
}
